* {
    margin: 0px; padding: 0px;
    }

    title{
        font: bold 30px Arial, sans-serif;
        text-align: justify;
        color: #000;
    }

    body {

        background-image:url(Imagenes/hori.jpg);
        background-size:100% 100% ;
        background-attachment: fixed;

        color:#fff;
    }